<h5> Einloggen </h5>
<%= form_for :login, url: login_path do |f| %>
  <%= f.text_field :email, placeholder: "email" %> <br>
  <%= f.password_field :password_provided, placeholder: "password" %> <br>
  <%= f.submit "Einloggen" %>
<% end %>
