<h5> Create Account </h5>
<%= form_for :new_user, url: new_user_path do |f| %>
  <%= f.text_field :email, placeholder: "email" %> <br>
  <%= f.text_field :password_provided, placeholder: "password" %> <br>
  <%= f.submit "create account" %>
<% end %>
