<%= render "notice" %>    

<p> Sehr geehrte Damen und Herren, </p> <hr>

<p> 
  LangLang ist der einfachste Weg die 500 meist gebrauchten, Englischen Vokabeln zu rekapitulieren. <br>
  Erstellen Sie einen Account und fangen Sie an.
</p> <hr>

<%= render "signup" %>
<%= render "login" %>

<br> <p> 
  *Die Seite kann ebenfalls gut auf Smartphones genutzt werden.
</p> <hr>

<!-- Langapp is the most straightforward way to revise the 500 most common English words. <br>
You can use it on your desktop and on your phone when you're on the go. Enjoy. -->