/* *= require_self */


 body{
  margin-top: 15px;
 }

 input{
  margin-bottom: 5px;
 }

.to_bottom{
  margin-top: 200px; 
}

.word{
  font-size: 37px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 35px;
}

#english{
  display: block;
}

#german{
  display: none;
}

.buttons{
  text-align: center;
  margin-bottom: 18px;
}

#text{
  text-align: center;
}
