/* *= require_self */

 body{
  margin-top: 55px;
 }

 input{
  margin-bottom: 5px;
 }

.to_bottom{
  margin-top: 200px; 
}

.inline{
  display: inline;
}

#english{
  display: block;
}

#german{
  display: none;
}