/* *= require_self */

 body{
  margin-top: 15px;
 }

 input{
  margin-bottom: 5px;
 }

.to_bottom{
  position: fixed;
  width: 100%;
  bottom: 5px;
}

.word{
  font-size: 37px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
}

#default_show{
  display: block;
}

#default_non_show{
  display: none;
}

.buttons{
  text-align: center;
  margin-bottom: 18px;
}

.locale_links{
  float: right;
}

.red{
  color: red;
  margin-left: 20px;
}

#gamification{
  font-size: 15px;
  position: relative;
  left: 153px;
  bottom: 15px;
}


.languages_page{
  h4{
    text-decoration: underline;
    margin-bottom: 20px;
  }
  h4, h5{
    text-align: center;
  }
  img{
  display: block;
  height: 140px;
  width: 250px;
  margin: 0px auto 25px;
  }
}




